:root {
	--primary-color: #445877;
	--secondary-color: #92cccd;
	--tertiary-color: #32343d;
	--quaternary-color: #F3A847;
	--background-blend: #151019;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-family: Arial, sans-serif;
}

main {
	margin-bottom: auto;
	margin-top: auto;
}

.general-background {
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.top-divider, .bottom-divider {
	width: 97%;
	border: 1px solid var(--secondary-color);
	margin-left: auto;
	margin-right: auto;
}

.flexbox {
	display: flex;
	flex-wrap: wrap;
}

.about-text-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
}

/* Header Styles*/
.header-background {
	width: 100%;
	padding: 20px;
	background: var(--background-blend);
}

.name {
	text-align: center;
	font-size: 50px;
	padding: 10px;
	color: var(--secondary-color);
	display: inline-block;
}

.nav-link-container {
	list-style: none;
}

.list-item {
	color: var(--secondary-color);
	font-size: 30px;
	padding: 0 5px;
}

.list-item:hover {
	cursor: pointer;
}

nav {
	margin-left: auto;
}

ul.flexbox {
	height: 100%;
	align-items: center;
}

.navActive {
	color: var(--quaternary-color);
}

.top-container {
	margin: 30px auto;
	background: rgb(146, 204, 205);
	border: 5px outset rgb(139, 190, 191);
	padding: 10px;
	width: 290px;
	text-align: center;
}

/* About */
.img-container {
	width: 30%;
	justify-content: center;
	margin-bottom: 30px;
}

.avatar {
	height: auto;
	width: 50%;
	margin-bottom: 30px;
	border: 5px outset rgb(139, 190, 191);
}

.about-text,
.about-text-sub-top, .about-text-sub-bottom {
	font-size: large;
	background: rgb(146, 204, 205, 1);
	border: 5px outset rgb(139, 190, 191);
	padding: 20px;
	width: 90%;
	line-height: 1.5;
	margin-top: auto;
	margin-bottom: auto;
}

.full-stack-certificate {
	height: auto;
	width: 80%;
	border: 5px outset rgb(139, 190, 191);
}

/* Portfolio Styles */
.all-projects-container {
	justify-content: space-around;
	margin: 30px;
}

.project-container {
	height: 400px;
	margin: 10px;
	flex-grow: 1;
	flex-basis: 361px;
	box-shadow: 0 0 10px rgba(146, 204, 205, 0.5);
	border: 5px outset rgb(139, 190, 191);
	position: relative;
}

.false:hover,
.project-sub-container:hover,
.project-github-logo:hover,
.github-logo:hover,
.linkedin-logo:hover,
.stack-overflow-logo:hover {
	filter: brightness(80%);
}

.project-sub-container {
	height: 88%;
	width: 100%;
	background-size: cover;
	text-decoration: none;
}

.project-title {
	background: rgb(146, 204, 205);
	display: block;
	font-size: x-large;
	text-align: center;
	padding: 10px;
	color: black;
}

.project-github-logo {
	border-radius: 50%;
	height: 60px;
	margin: 20px;
	position: absolute;
	top: 78%;
	background: white;
}

/* Contact Form Styles */
.contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: auto;
}

.contact-form-container {
	background: rgb(146, 204, 205);
	border: 5px outset rgb(139, 190, 191);
	padding: 10px;
	width: 290px;
	margin: 30px auto;
}

.name-container,
.email-container,
.message-container {
	font-size: x-large;
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-bottom: 10px;
}

.sub-text {
	margin-bottom: 10px;
	font-size: large;
	padding: 10px;
	text-align: center;
}

button[type=submit] {
	padding: 10px;
	width: 90%;
	font-size: large;
}

input {
	padding: 6px;
	line-height: 100%;
}

.message-box {
	resize: vertical;
	padding: 6px;
}

/* Resume Styles */
.resume-container {
	height: min-content;
	justify-content: center;
}

.resume {
	height: auto;
	width: 50%;
	margin-bottom: 30px;
}

/* Footer Styles */
.logo-box {
	width: 100%;
}

.logo-container {
	margin: 0 15px;
	justify-content: space-between;
	background: var(--background-blend);
}

.github-logo,
.linkedin-logo,
.stack-overflow-logo {
	border-radius: 50%;
	height: 65px;
	padding: 5px;
	margin: 20px;
	background: white;
}

@media screen and (max-width: 1410px) {
	.img-container {
		width: 100%;
		align-items: center;
	}

	.avatar {
		width: 18%;
		margin: 0 30px 0 0;
	}

	.full-stack-certificate {
		width: 30%;
		margin: 0;
	}

	.about-text-container {
		width: 100%;
	}

	.about-text-container > * {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 845px) {
	.header {
		justify-content: center;
	}

	nav {
		margin: 0;
	}

	.avatar {
		width: 25%;
	}

	.full-stack-certificate {
		width: 42%;
		margin: 0;
	}
}

@media screen and (max-width: 483px) {
	.nav-link-container {
		justify-content: center;
	}

	#About, #Portfolio, #Contact, #Resume {
		width: 50%;
	}

	#About, #Contact {
		text-align: right
	}

	#About {
		padding-right: 14px;
	}
}